body {
    margin:0; 
    max-width: 100%;
}


.container {
    margin-left: 10vw;
    margin-right: 10vw;
    /* outline: black solid 1px; */
}

.columns {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    
    /* outline: 5px dotted black; */
}

.column {
    max-width: 100%;
    flex: 1;
}



img {
    max-width: 80%;
    object-fit: contain;
}



.header-container {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: space-between;
}

.section {
    height: 100vh;
    width: 100vw;
    max-width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    justify-content: start;
}


.section-row {
    margin-left: 10vw;
    margin-right: 10vw;
    flex: 1;
    text-align: center;
}


@media screen and (min-width: 1199px) {
    .hide-desktop { 
       display: none !important; 
    }
    .footer-social {
        display: flex;
        flex-direction: row;
        width: 15%;
    }
    .footer-social > div {
        flex: 1;
        padding-left:.5vw;
        padding-right: .5vw;
    }
} 

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .hide-tablet { 
       display: none !important; 
    }
    .footer-social {
        display: flex;
        flex-direction: row;
        width: 30%
    }
    .footer-social > div {
        flex: 1;
        padding-left:1vw;
        padding-right: 1vw;
    }
} 

@media screen and (max-width: 575px) {
    .hide-mobile { 
       display: none !important; 
    }
    .column {
        min-width: 80vw;
    }
    .footer-social {
        display: flex;
        flex-direction: row;
    }
    .footer-social > div {
        flex: 1;
        padding-left:2vw;
        padding-right: 2vw;
    }
}