.container {
    margin-left: 10vw;
    margin-right: 10vw;

    /* outline: black solid 1px; */
}

.header-container {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: space-between;
}

.section {
    height: 100vh;
    width: 100vw;
    max-width:100%;
    display: flex;
}

.center {
    padding-top: 5vh;
    height:100vh;
    width:100vw;
    max-width: 100%;
    display: flex;
    justify-content:center;
}


@media screen and (min-width: 1199px) {
    .hide-desktop { 
       display: none !important; 
    }
} 

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .hide-tablet { 
       display: none !important; 
    }
} 

@media screen and (max-width: 575px) {
    .hide-mobile { 
       display: none !important; 
    }
}