@import "../common/variables";

$card-fade: 1s;

.card {
    width: calc(100% - #{$spacer * 2});
    max-width: calc(100% - #{$spacer * 2});
    overflow-wrap: break-word;
    margin-bottom: 5%;
    opacity: .15;
    transition: opacity $card-fade ease-in-out;
}

.card > div > a > img {
    object-fit: contain;
    max-width:100%;
    line-height: 0;
}

.card > div > a {
    line-height: normal;
    text-decoration: none;
}

.music-icons {
    display:flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-around;
}

@media (min-width: map-get($breakpoints, "md")) {
    .card {
        width: 50%;
        max-width: 50%;
    }

    
}

.card:hover {
    opacity:1;
    transition: opacity ($card-fade / 2) ease-in-out;
}

.visible {
    opacity: 1;
    transition: opacity $card-fade ease-in-out;
}