@import "../common/variables";

footer {
    background-color: black;
    color: white;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-row > a{
    text-decoration: none;
    cursor: pointer;
}

.socials-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    max-width: 100%;
}

.socials > div > a > svg {
    width: 65%;
    height: auto;
}


.socials > div > a > svg > path {
    fill: white;
    cursor: pointer;
    transition: fill .25s ease-in-out;
}

.socials > div > a > svg:hover > path {
    fill: $primary-color;
    cursor: pointer;
    transition: fill .25s ease-in-out;
}

@media (min-width: map-get($breakpoints, "md")) {
    .socials > div > a > svg {
        width: 25%;
        height: auto;
    }
}