body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@function responsive($minFont, $maxFont) {
    $slope: (($maxFont - $minFont) / ((map-get($breakpoints, "xl") - map-get($breakpoints, "sm")) / 1px)) / 1rem;
    $y-inter: -1 * (map-get($breakpoints, "md") / 1px) * $slope + $minFont;
    $middle: calc(#{$y-inter} + (#{$slope} * 100vw));
    @return clamp($minFont, $middle, $maxFont);
}

@for $i from 1 through 6 {
    $font-size: (7 - $i)/1.35 * $base-size;
    h#{$i} {
        letter-spacing: .15em;
        font-size: $font-size;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }
}

p {
    font-size: $base-size;
    font-family: 'EB Garamond', sans-serif;
    font-size: 1.15em;
    color: white;
}

a {
    font-family: 'EB Garamond', sans-serif;
    font-size: 1.15em;
    color: white;
    transition: color .25s ease-in-out;
}

a:hover {
    color:$primary-color;
    transition: color .25s ease-in-out;
}