$size-up: ("xs": "sm", "sm": "md", "md": "lg", "lg": "xl");

@each $size, $break in $breakpoints {
    @for $i from 1 through $grid-columns {
        .col-#{$size}-#{$i} {
            grid-column: span ($i);
        }
    }
    
    @if(map-get($size-up, $size)) {
        @media (min-width: $break) and (max-width: map-get($breakpoints, map-get($size-up, $size))) {
            @for $i from 1 through $grid-columns {
                .col-#{$size}-#{$i} {
                    grid-column: span ($i);
                }
            }
            .hidden-#{$size} {
                display:none !important;
            }
        }
    } @else {
        @media (min-width: $break) {
            @for $i from 1 through $grid-columns {
                .col-#{$size}-#{$i} {
                    grid-column: span ($i);
                }
            }
            .hidden-#{$size} {
                display:none !important;
            }
        }
    }
    
}

@for $i from 1 through 5 {
    .mt-#{$i} {
        margin-top: $spacer * $i;
    }
    .mb-#{$i} {
        margin-bottom: $spacer * $i;
    }
    .ml-#{$i} {
        margin-left: $spacer * $i;
    }
    .mr-#{$i} {
        margin-right: $spacer * $i;
    }
    .pt-#{$i} {
        padding-top: $spacer * $i;
    }
    .pb-#{$i} {
        padding-bottom: $spacer * $i;
    }
    .pl-#{$i} {
        padding-left: $spacer * $i;
    }
    .pr-#{$i} {
        padding-right: $spacer * $i;
    }
} 

.container {
    max-width: $max-page-width;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat($grid-columns, 1fr);
    grid-gap: $gutter;
}

.d-none {
    display:none;
}

